<?xml version="1.0" encoding="utf-8" ?>
<fragment xmlns="http://tecware-gmbh.de/dev/des/2014"
		xmlns:pps="http://tecware-gmbh.de/dev/des/2015/ppsn">

	<server>
		<load>DEM.PPSn</load>
	</server>

	<http>
		<prefix>$(webBinding)/</prefix>
		<access id="root" scheme="ntlm basic none">$(webBinding)/</access>
		<access id="ppsnInfo" scheme="none">$(webBinding)/ppsn/info.xml</access>
		<access id="ppsnWpf" scheme="ntlm basic none">$(webBinding)/ppsn/wpf/</access>

		<mime ext=".dll" mime="application/octet" />
		<mime ext=".pdb" mime="application/octet" />
		<mime ext=".xdataset" mime="text/dataset" packed="false" />
	</http>

	<luaengine script="LuaDebug">
		<script id="LuaDebug" filename="stuff\Debug.lua" />
	</luaengine>

	<pps:ppsn name="ppsn">
		<pps:sysDataSource name="sys" />

		<pps:reports system="$(reportSystem)" base="reports" storeSuccessLogs="true" zipLogFiles="false" />
		
		<pps:wpf name="wpf">
			<pps:wpfSource id="core" directory="ClientWpf/Panes" virtualPath="panes" />
			<pps:theme id="default" file="ClientWpf/default.xaml"/>
			<pps:theme id="blue" file="ClientWpf/default.xaml"/>
			<pps:theme id="green" file="ClientWpf/green.xaml"/>

			<pps:action name="close" displayName="Schließen" priority="-1000" displayImage="closeOctagon">
				<pps:code><![CDATA[ Window:Close() ]]></pps:code>
			</pps:action>

			<pps:action name="pdfOpen" displayName="Öffnen"  priority="100">
				<pps:condition><![CDATA[return CurrentItem ~= nil and CurrentItem.MimeType == "application/pdf"]]></pps:condition>
				<pps:code><![CDATA[ Window:OpenPane { paneType = "pdf", Object = GetObject(CurrentItem.Id) } ]]></pps:code>
			</pps:action>

			<pps:environment id="ppsData" priority="100">
				<pps:code>
					<![CDATA[ self:require 'wpf/panes/ppsGlobal.lua'; ]]>
				</pps:code>
			</pps:environment>
			<!--<pps:template id="templates" file="ClientWpf\Templates\MasterData.Contacts.xaml"/>-->
		</pps:wpf>

		<pps:datawareHouse name="bi" />

		<pps:register source="sys">
			<pps:field name="sys.Fields.ObjectId" dataType="long" displayName="Nr">
				<pps:attribute name="clientDataType">ppsObject</pps:attribute>
				<pps:attribute name="UseFieldFactory">CreateObjkNr</pps:attribute>
			</pps:field>
			<pps:field name="sys.Fields.ObjectLinkId" dataType="long">
				<pps:attribute name="clientDataType">ppsLinkObject</pps:attribute>
			</pps:field>
			<pps:field name="sys.Fields.MasterDataKey" dataType="long">
				<pps:attribute name="clientDataType">ppsMasterData</pps:attribute>
			</pps:field>

			<pps:field name="sys.Fields.Address" dataType="text" displayName="Adresse">
				<pps:attribute name="clientDataType">text</pps:attribute>
			</pps:field>

			<pps:field name="sys.Fields.Path" dataType="string" />
			<pps:field name="sys.Fields.ContentType" dataType="string" />
			<pps:field name="sys.Fields.ContentEncoding" dataType="string" />
			<pps:field name="sys.Fields.ContentSize" dataType="long" />
			<pps:field name="sys.Fields.LastModificationStamp" dataType="long" />
			<pps:field name="sys.Fields.IsUpdated" dataType="bit">
				<pps:attribute name="sourceColumn">#</pps:attribute>
				<pps:attribute name="nullable">true</pps:attribute>
			</pps:field>
			<pps:field name="sys.Fields.PrimaryKey" dataType="long" />
			<pps:field name="sys.Fields.Text" dataType="string" />
			<pps:field name="sys.Fields.Int" dataType="int" />
			<pps:field name="sys.Fields.Long" dataType="long" />
			<pps:field name="sys.Fields.Bit" dataType="bool" />
			<pps:field name="sys.Fields.Blob" dataType="blob" />
			<pps:field name="sys.Fields.DateTime" dataType="datetime" />

			<pps:view name="wpf.sync">
				<pps:source type="view">wpf/GetApplicationFilesSelector</pps:source>
			</pps:view>

			<pps:field name="wpf.sync.Path" inherited="sys.Fields.Path" />
			<pps:field name="wpf.sync.Length" inherited="sys.Fields.ContentSize" />
			<pps:field name="wpf.sync.LastWriteTime" dataType="datetime" />

			<pps:field name="bi.reports.Type" dataType="string" displayName="Type" />
			<pps:field name="bi.reports.ReportId" dataType="string" displayName="Report" />
			<pps:field name="bi.reports.DisplayName" dataType="string" displayName="Bezeichnung" />
			<pps:field name="bi.reports.Description" dataType="string" displayName="Bezeichnung" />

			<pps:view name="bi.reports">
				<pps:source type="view">bi/GetReportItemsSelector</pps:source>
			</pps:view>

			<pps:field name="sys.views.Name" dataType="string" />
			<pps:field name="sys.views.DisplayName" dataType="string" />
			<pps:field name="sys.views.SecurityToken" dataType="string" />
			<pps:field name="sys.views.IsVisible" dataType="bool" />

			<pps:view name="sys.views">
				<pps:source type="view">GetViewDefinitionSelector</pps:source>
			</pps:view>
		</pps:register>

		<pps:register source="main">

			<!-- object fields -->
			<pps:field name="dbo.ObjK.Id" inherited="sys.Fields.ObjectId">
				<pps:attribute name="UseFieldFactory">CreateObjkNr</pps:attribute>
			</pps:field>
			<pps:field name="dbo.ObjK.Guid" />
			<pps:field name="dbo.ObjK.Typ" />
			<pps:field name="dbo.ObjK.MimeType" />
			<pps:field name="dbo.ObjK.Nr" />
			<pps:field name="dbo.ObjK.IsRev" />
			<pps:field name="dbo.ObjK.IsHidden" />
			<pps:field name="dbo.ObjK.HeadRevId" />
			<pps:field name="dbo.ObjK.CurRevId" />

			<pps:field name="dbo.ObjT.Id" />
			<pps:field name="dbo.ObjT.ObjKId" />
			<pps:field name="dbo.ObjT.ObjRId" />
			<pps:field name="dbo.ObjT.Key" />
			<pps:field name="dbo.ObjT.Class" />
			<pps:field name="dbo.ObjT.Value" />
			<pps:field name="dbo.ObjT.UserId" />
			<pps:field name="dbo.ObjT.CreateDate" />

			<pps:field name="dbo.ObjL.Id" />
			<pps:field name="dbo.ObjL.ParentObjKId" />
			<pps:field name="dbo.ObjL.LinkObjKId" />
			<pps:field name="dbo.ObjL.OnDelete" />

			<!-- revision fields -->
			<pps:field name="dbo.ObjR.Id" />
			<pps:field name="dbo.ObjR.ParentId" />
			<pps:field name="dbo.ObjR.ObjkId" />
			<pps:field name="dbo.ObjR.Tags" />
			<pps:field name="dbo.ObjR.Document" />
			<pps:field name="dbo.ObjR.CreateDate" />
			<pps:field name="dbo.ObjR.CreateUserId" />

			<pps:field name="dbo.User.Id" />
			<pps:field name="dbo.User.KtktId" />
			<pps:field name="dbo.User.Login" dataType="string" displayName="Nutzer">
				<pps:attribute name="maxLength">32</pps:attribute>
			</pps:field>
			<pps:field name="dbo.User.Security" displayName="Sicherheit" />

			<!-- objects -->
			<pps:view name="dbo.objects">
				<pps:source type="view">dbo.objects</pps:source>
			</pps:view>

			<pps:dataset name="masterdata">
				<pps:table name="Header" dataSource="sys">
					<pps:meta name="syncType">None</pps:meta>
					<pps:column name="_rowId" fieldName="sys.Fields.PrimaryKey" isPrimary="true" />
					<pps:column name="SchemaStamp" fieldName="sys.Fields.LastModificationStamp">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="SchemaContent" fieldName="sys.Fields.Blob">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="SyncStamp" fieldName="sys.Fields.LastModificationStamp">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="UserId" fieldName="sys.Fields.Long">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="UserName" fieldName="sys.Fields.Text">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="displayName" fieldName="sys.Fields.Text">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="FullName" fieldName="sys.Fields.Text">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="KtKtId" fieldName="sys.Fields.Long">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="PersId" fieldName="sys.Fields.Long">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="Initials" fieldName="sys.Fields.Text">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
				</pps:table>

				<pps:table name="SyncState" dataSource="sys">
					<pps:meta name="syncType">None</pps:meta>
					<pps:column name="Table" fieldName="sys.Fields.Text" isPrimary="true" isIdentity="false" />
					<pps:column name="SyncId" fieldName="sys.Fields.Long" />
				</pps:table>

				<pps:table name="OfflineCache" dataSource="sys">
					<pps:meta name="syncType">TimeStamp: wpf.sync, LastWriteTime</pps:meta>
					<pps:column name="Path" isPrimary="true" isIdentity="false" fieldName="sys.Fields.Path" />
					<pps:column name="ContentType" fieldName="sys.Fields.ContentType">
						<pps:meta name="sourceColumn">#</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="ContentEncoding" fieldName="sys.Fields.ContentEncoding">
						<pps:meta name="sourceColumn">#</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="LocalContentSize" fieldName="sys.Fields.ContentSize">
						<pps:meta name="sourceColumn">#</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="ServerContentSize" fieldName="sys.Fields.ContentSize">
						<pps:meta name="sourceColumn">Length</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="LocalContentLastModification" fieldName="sys.Fields.LastModificationStamp">
						<pps:meta name="sourceColumn">#</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="ServerContentLastModification" fieldName="sys.Fields.LastModificationStamp">
						<pps:meta name="sourceColumn">LastWriteTime</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="Content" fieldName="sys.Fields.Blob">
						<pps:meta name="sourceColumn">#</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="LocalPath" fieldName="sys.Fields.Path">
						<pps:meta name="sourceColumn">#</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="_IsUpdated" fieldName="sys.Fields.IsUpdated" />
				</pps:table>

				<pps:table name="Objects">
					<pps:meta name="syncType">ChangeTracking: dbo.ObjK</pps:meta>
					<pps:meta name="useAsKey">Guid</pps:meta>

					<pps:column name="Id" fieldName="dbo.ObjK.Id" isPrimary="true" isIdentity="false" />
					<pps:column name="Guid" fieldName="dbo.ObjK.Guid">
						<pps:meta name="IsUnique">true</pps:meta>
					</pps:column>
					<pps:column name="Typ" fieldName="dbo.ObjK.Typ" />
					<pps:column name="MimeType" fieldName="dbo.ObjK.MimeType" />
					<pps:column name="Nr" fieldName="dbo.ObjK.Nr" />
					<pps:column name="IsRev" fieldName="dbo.ObjK.IsRev" />
					<pps:column name="IsHidden" fieldName="dbo.ObjK.IsHidden" />
					<pps:column name="RemoteCurRevId" fieldName="dbo.ObjK.CurRevId">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="RemoteHeadRevId" fieldName="dbo.ObjK.HeadRevId" >
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="PulledRevId" fieldName="sys.Fields.Long">
						<pps:meta name="sourceColumn">#</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>

					<pps:column name="DocumentIsChanged" fieldName="sys.Fields.Bit">
						<pps:meta name="sourceColumn">#</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="DocumentIsLinked" fieldName="sys.Fields.Bit">
						<pps:meta name="sourceColumn">#</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="Document" fieldName="sys.Fields.Blob">
						<pps:meta name="sourceColumn">#</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="DocumentLastWrite" fieldName="sys.Fields.DateTime">
						<pps:meta name="sourceColumn">#</pps:meta>
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>

					<!-- is set to true, if data is pulled, so data on client will not deleted during an full update -->
					<pps:column name="_IsUpdated" fieldName="sys.Fields.IsUpdated" />
				</pps:table>

				<pps:table name="ObjectTags">
					<pps:meta name="syncType">ChangeTracking: dbo.ObjT</pps:meta>
					
					<pps:column name="Id" fieldName="dbo.ObjT.Id" isPrimary="true" isIdentity="false" />
					<pps:relation name="ObjectId" fieldName="dbo.ObjT.ObjKId" relationName="Tags" parentTable="Objects" parentColumn="Id" parentType="Root" />
					
					<pps:column name="Key" fieldName="dbo.ObjT.Key" />
					<pps:column name="Class" fieldName="dbo.ObjT.Class">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="Value" fieldName="dbo.ObjT.Value">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="LocalClass" fieldName="sys.Fields.Int">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="LocalValue" fieldName="sys.Fields.Text">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="UserId" fieldName="dbo.ObjT.UserId">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					<pps:column name="CreateDate" fieldName="dbo.ObjT.CreateDate">
						<pps:meta name="nullable">true</pps:meta>
					</pps:column>
					
					<pps:column name="_IsUpdated" fieldName="sys.Fields.IsUpdated" />
				</pps:table>

				<pps:table name="ObjectLinks" dataSource="sys">
					<!-- no sync, because it is updated with pull/push requests -->
					<pps:meta name="syncType">None</pps:meta>

						<pps:column name="Id" fieldName="sys.Fields.PrimaryKey" isPrimary="true" isIdentity="true">
					</pps:column>
					<pps:relation name="ParentObjectId" fieldName="sys.Fields.Long" relationName="LinkedTo" parentTable="Objects" parentColumn="Id" parentType="Root" />
					<pps:relation name="LinkObjectId" fieldName="sys.Fields.Long" relationName="LinkedFrom" parentTable="Objects" parentColumn="Id" parentType="Cascade" />
					<pps:column name="RefCount" fieldName="sys.Fields.Int">
						<pps:meta name="nullable">false</pps:meta>
						<pps:meta name="default">0</pps:meta>
					</pps:column>
				</pps:table>

				<pps:table name="User">
					<pps:meta name="syncType">ChangeTracking: dbo.User</pps:meta>
					<pps:column name="Id" fieldName="dbo.User.Id" isPrimary="true" />
					<pps:column name="Login" fieldName="dbo.User.Login" />
				</pps:table>
			</pps:dataset>
		</pps:register>

		<pps:attachment name="attachments" nextNumber="ANH-{8}" forceNextNumber="true" displayname="Attachments" />
	</pps:ppsn>
</fragment>